<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-oficial-black' : 'logo-oficial'}}.png" alt="logo" height="120" class="mr-0 lg:mr-2">
        <span>San Antonio de Padua</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-overlayPanel #userPanel [dismissable]="true">
        <div style="padding: 1rem; min-width: 200px;">
            <div><strong>{{ usuarioNombre }} {{ usuarioApellido }}</strong></div>
            <div>Materia: Biología</div>
            <div style="margin-top: 0.5rem;">
            <button pButton type="button" label="Cerrar sesión" class="p-button-danger p-button-sm w-full"
                    (click)="cerrarSesion()"></button>
            </div>
        </div>
        </p-overlayPanel>

        <button class="p-link layout-topbar-button" (click)="userPanel.toggle($event)">
            <i class="pi pi-user"></i>
            <span>{{ usuarioNombre }}</span>
        </button>
    </div>
    
</div>